<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>technologieplauscherl.at &raquo; {{Home}}</title>

	<meta name="description" content="Technologieplauscherl - Mit Freunden zamkommen und über Coding, Projekte, etc. reden">

	<meta property="og:image" content="">
	<meta property="og:title" content="Technologieplauscherl Linz">
	<meta property="og:description" content="Mit Freunden zamkommen und über Coding, Projekte, etc. reden">


	<script src="//use.edgefonts.net/bebas-neue;open-sans:n4,n6.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="/styles/main.css">
	<!-- endbuild -->
</head>
<body>

	{{body}}

	{{>footer}}

</body>
</html>
