---
title: Technologieplauscherl 15
---
<div class="wrapper">
	{{#index.plauscherl.p15}}
	{{>headline}}
	<h2>Sessions</h2>
	<section class="grid">
		{{#each sessions}}
			{{>speaker}}
		{{/each}}
	</section>

	{{>notice}}

	<h2>Location</h2>

	{{>address}}
	{{>map}}

	{{/index.plauscherl.p15}}
</div>
