<address>
	<span class="n" itemprop="name">{{place.name}}</span>
	<span class="street-address" itemprop="streetAddress">{{place.street}}</span>
	<span class="postal-code" itemprop="postalCode">{{place.zip}}</span> <span class="locality" itemprop="addressLocality">{{place.town}}</span>
</address>