<h1 itemprop="name">{{title}}</h1>
<p class="info">
	 <span itemprop="startDate" content="{{date}}"><i class="icon-calendar"></i> {{formatDate date "%d.%m.%Y"}} <i class="icon-clock"></i> {{formatDate date "%k:%M"}} Uhr</span>
</p>
