<div class="masthead">
	<div class="top">
		<h1 itemprop="name">Technologieplauscherl</h1>
	</div>

	<div class="bottom">
		<!--p class="info">
			Nächstes Treffen:<br/>
			<span itemprop="startDate" content="2013-12-18T18:30"><i class="icon-calendar"></i> 18. Dezember 2013 <i class="icon-clock"></i> 18:30 Uhr</span>
		</p-->

		<p class="info">
			Wir sehen uns 2014!
		</p>

		<a href="https://www.facebook.com/groups/technologie.plauscherl" class="link link--big link--facebook">
			Unsere Facebookgruppe
			<i class="icon-facebook link__icon"></i>
		</a>
		
		<a href="http://doodle.com/kkxik2d2umqfzrnw" class="link link--big link--googleplus">
			Terminsuche auf Doodle
			<i class="icon-calendar link__icon"></i>
		</a>
	</div>
</div>