<article class="cell cell--w25" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
	<div class="speaker">
		<img src="{{img}}" alt="{{speaker}}" class="speaker__img">
		<div class="speaker__info">
			<span class="speaker__name" itemprop="performer">{{speaker}}</span>
			<div class="speaker__session" itemprop="name">{{session}}</div>
		</div>
	</div>
</article>
